$dark-color: #2E1F27;
$brown-color: #905D3A;
$orange-color: #ED8524;
$light-orange-color: #FCBF49;
$off-white-color: #F2ECD7;

body {
  background-color: $orange-color;
}

container {
  background-color: $light-orange-color;
}
