# VM stuff
.vagrant/
# phpstorm stuff
.idea/

.web-server-pid

# Log for Vagrant box
ubuntu-*

# Email spool folder
/app/spool/*


/var/*

!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep


# Composer packages
vendor/
