container_commands:
  300-run-composer:
    command: "composer.phar install --no-dev --optimize-autoloader --prefer-dist --no-interaction"
  400-run-sockets:
    command: "php bin/console sockets:start-chat"

commands:
  300-composer-update:
    command: "export COMPOSER_HOME=/root && composer.phar self-update -n"
  400-assets:
    command: "php bin/console assets:install"
  