{% extends 'base.html.twig' %}

{% block title %}Youtube Test{% endblock %}

{% block stylesheets %}
    {{ parent() }}


{% endblock %}

{% block body %}

    <div id="youtube_search"></div>

    <div id="youtube_queue">
        <ul>
            <li>
                <div class="yt_title">Name of video</div>
                <div class="yt_channel">Name of channel</div>
                <div class="yt_thumb">thumbnail</div>
            </li>
        </ul>
    </div>


    {# This div will be replaced by the iframe player #}
    <div id="player"></div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('melody_munk/youtube_player.js') }}"></script>

{% endblock %}