{% trans_default_domain 'FOSUserBundle' %}

{% if error is defined %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
{% endif %}

<form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
    <h2 class="form-login-heading">sign in now</h2>
    <div class="login-wrap">
        <input type="text" class="form-control" id="username" name="_username"  placeholder="User ID" autofocus required="required">
        <br>
        <input type="password" class="form-control" id="password" name="_password" placeholder="Password" required="required">
        <span class="pull-left">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">Remember Me</label>
        </span>
        <span class="pull-right">
            <a data-toggle="modal" href="#"> Forgot Password?</a>



        </span>
        <button class="btn btn-theme btn-block" id="_submit" name="_submit" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>
        <hr>

        <div class="login-social-link centered">
            <p>or you can sign in via your social network</p>
            <button class="btn btn-facebook" type="submit"><i class="fa fa-facebook"></i> Facebook</button>
            <button class="btn btn-twitter" type="submit"><i class="fa fa-twitter"></i> Twitter</button>
        </div>
        <div class="registration">
            Don't have an account yet?<br/>
            <a class="" href="{{ path('fos_user_registration_register') }}">
                Create an account
            </a>
        </div>

    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Forgot Password ?</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your e-mail address below to reset your password.</p>
                    <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                    <button id="_submit" name="_submit" class="btn btn-theme" type="button">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->

</form>