{% extends '::base.html.twig' %}


{% block title %}Home{% endblock %}


{% block stylesheets %} {% endblock %}


{% block body %}

    <div class="row">

        <!-- START SECTION MIDDLE -->
        <div class="col-xs-10 ">
            <div class="border-head">
                <h3>MELODYMUNK DASHBOARD</h3>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input id="playlist_name_content" type="text" class="form-control round-form" placeholder="Add Playlist MelodyMunk..." aria-describedby="melodymunk_search_bar">
                        <a id="playlist_add_submit" class="btn btn-info input-group-addon" ><i class="fa fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <br/>
            <!-- START Playlist Results -->
            <div class="row">

                {% for playlist in playlists %}
                    <!-- START Playlist Card -->
                    <div class="col-md-4 col-sm-4 mb">
                        <div class="darkblue-panel pn">
                            <div class="darkblue-header">
                                <h5>{{ playlist.name }}</h5>
                            </div>
                            <h1 class="mt"><i class="fa fa-play fa-3x"></i></h1>
                            <p>+ 1,789 NEW VISITS</p>
                            <footer>
                                <div class="centered">
                                    <h5><i class="fa fa-music"></i> &nbsp;1,234 Songs Played</h5>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <!-- END Playlist Card -->
                {% endfor %}


            </div>
            <!-- END Playlist Results -->


        </div>
        <!-- END SECTION MIDDLE -->


        <div class="col-xs-2 mt">
            <h4>MelodyMunk Stats</h4>
            <hr/>


            <div class="row">
                <div class="col-xs-12 box0">
                    <div class="box1">
                        <span class="fa fa-group mm_orange"></span>
                        <h3>1654</h3>
                    </div>
                    <p>1654 MelodyMunk Users</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 box0">
                    <div class="box1">
                        <span class="fa fa-play-circle-o mm_orange"></span>
                        <h3>933</h3>
                    </div>
                    <p>933 Playlist Rooms</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 box0">
                    <div class="box1">
                        <span class="fa fa-music mm_orange"></span>
                        <h3>1234</h3>
                    </div>
                    <p>1234 Songs Played</p>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 box0">
                    <div class="box1">
                        <span class="fa fa-chevron-up mm_orange"></span>
                        <h3>4543</h3>
                    </div>
                    <p>4543 Song Queue Upvotes</p>
                </div>
            </div>



        </div>


    </div><! --/row -->


{% endblock %}


{% block javascripts %}

    <script src="{{ asset('melody_munk/Pages/home.js') }}"></script>

{% endblock %}