{% extends '::base.html.twig' %}

{% block title %}Playlist Page{% endblock %}

{% block body %}

    <p>{{ playlist.name }}</p>

    <p>Playlist was created on: {{ playlist.name }}</p>

{% endblock %}