<!doctype html>
<html>
    <head>
        <title>Spotify Integration for MelodyMunk</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <style type="text/css">
            .text-overflow {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 500px;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div >
                <h1>Fuck Yeah</h1>
                <button id="spotifyloginbutton" class="btn btn-primary">Log in with Spotify</button>
            </div>
        </div>
    </body>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function() {
            console.log('doc loaded');
            $('#spotifyloginbutton').click(
                function ()
                {
                    console.log('click registered');
                    $.getJSON('/getauthorizeurl/', function(data) {
                        console.log(JSON.stringify(data));

                        window.location = data.redirect_url;
                    });
                }
            );
        });
    </script>
</html>
